*{
    margin : 0;
    padding : 0;
}

body{
    text-align: center;
    
    background-color: #344e41;
}

.container{
    height: 70 vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 1.5vmin;
}
.box{
    height: 17vmin;
    width: 17vmin;
    border-radius:  1rem;
    border: none;
    font-size : 8vmin;
    background-color:#a3b18a;
}

#reset-btn{
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #dad7cd;
}